.contact-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensures popup is on top */
}

.popup-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    position: relative;
    border: 2px solid #ccc;
    border-style: outset;
    z-index: 1001; /* Extra layer to ensure content is on top */
}


.popup-content h2 {
    margin-top: 0;
}

.popup-content label {
    display: block;
    margin-bottom: 1rem;
}

.popup-content input, .popup-content textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

.popup-content textarea {
    height: 100px;
}

.popup-content button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #00bfa5;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.popup-content button:hover {
    background-color: #008f7a;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #999;
}

.close-btn:hover {
    color: #333;
}
