/* Base styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2rem;
    color: white;
    position: relative;
    z-index: 1000; /* Ensure navbar is above other elements */
}

.logo h2 {
    margin: 0;
    font-size: 1.8rem;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    font-family: monospace;
}

.nav-links li a:hover {
    color: #00bfa5;
}

/* Mobile styling */
.mobile-menu-icon {
    display: none;
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-links-mobile {
    display: flex;
    flex-direction: column;
    position: fixed; /* Fixed to the viewport */
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh; /* Full viewport height */
    background-color: #333;
    align-items: center;
    justify-content: center;
    list-style: none;
    z-index: 1001; /* Ensure it is above other elements */
}

.nav-links-mobile li {
    margin: 2rem 0;
}

.nav-links-mobile li a {
    font-size: 2rem;
}

/* Responsive styling */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }
}
