.home-container {
    font-family: Arial, sans-serif;
}

/* Landing Section Styles */
.landing-section {
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    text-align: center;
}

.roles{
    color: rgb(234, 182, 85);
}
/* .resume {
    margin-top: 20px;
} */


.scroll-down {
    margin-top: 20px;
    font-size: 1.0rem;
    color: #00bfa5;
    text-decoration: none;
    cursor: pointer;
}

.button {
    background-color: wheat; /* Button background color */
    color: rgb(73, 73, 73); /* Button text color */
    padding: 10px 20px; /* Padding around the text */
    text-decoration: none; /* Remove underline */
    border-radius: 12px; /* Rounded corners */
    font-size: 1.0rem;
    font-weight: bold; /* Bold text */
    text-align: center; /* Center text */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    display: inline-block; /* Allow padding and margin adjustments */
    margin-top: 20px; /* Add space above buttons */
    font-family: monospace;
}

.button:hover {
    background-color: #00bfa5; /* Darker shade on hover */
    /* text-decoration: underline; */
}

.button:active {
    background-color: #f4f4f4; /* Even darker shade when clicked */
}


.scroll-down:hover {
    text-decoration: underline;
}

/* About Me Section Styles */
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    background-color: rgb(255, 229, 195);
    text-align: center; /* Center-aligns text */
}

.about-header {
    width: 100%;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center; /* Center-aligns the header */
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; /* Aligns the image and text to the top */
    max-width: 1000px;
    font-family: monospace;
    width: 100%;
}
.about-content li{
    font-family: monospace;
    margin-top: 15px;
    font-size: 1.2em;
    color: #333;
}

.about-image {
    width: 45%; /* Adjust the width to move the image to the left more */
    height: auto;
    border-radius: 25px;
    margin-right: 25px;
    margin-left: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-self: flex-start; /* Ensures the image stays at the top */
}


.about-text {
    flex: 1;
    text-align: left;
}

.about-text p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
}



/* Smooth scroll behavior for anchor links */
html {
    scroll-behavior: smooth;
}
